body {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#zagolovok {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

#table1 {
  border-top: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

.gender {
  font-size: 10pt;
  padding-top: 18px;
  padding-bottom: 15px;
}

#man {
  padding-left: 230px;
}

#woman {
  padding-left: 25px;
}

#kids {
  padding-left: 25px;
  padding-right: 25px;
}

#shop {
  padding-right: 230px;
}

.genderlink {
  text-decoration: none;
  color: black;
}

.genderlink:hover {
  color: rgb(9, 82, 66);
  text-decoration: underline;
}

#mart8 {
  filter: contrast(140%);
  filter:brightness(140%);
}

.center {
  text-align: center;
}

#smotr {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.bluelink {
  color: deepskyblue;
}

#table3 {
  background-color: rgba(214, 214, 214, 0.3);
  width: 100%;
}

.greytab {
  padding-bottom: 50px;
  text-align: left;
}

#table4 {
  border-bottom: 2px solid rgba(214, 214, 214, 0.3);
  border-collapse: collapse;
  width: 100%;
}

.end {
  color: dimgray;
  font-size: 9pt;
}

.streetlink {
    text-decoration: none;
    color: black;
  }

#table5 {
  width: 100%;
}